{
  "printWidth": 120,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "singleQuote": true,
  "quoteProps": "consistent",
  "trailingComma": "none",
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports"
  ],
  "importOrderParserPlugins": [
    "typescript",
    "jsx",
    "decorators-legacy"
  ],
  "importOrder": [
    "^(express|@express*(.*)$)",
    "^(react|@react*(.*)$)",
    "^(@shared*(.*)$)",
    "^(@sliit-foss*(.*)$)",
    "<THIRD_PARTY_MODULES>",
    "^(@/*(.*)$)",
    "^[./]",
    "^(?!.*[.]css$)[./].*$",
    ".css$"
  ]
}