@layer base {
    h1 {
        @apply text-4xl md:text-5xl text-center uppercase;
    }

    h2 {
        @apply text-3xl md:text-4xl text-center;
    }

    h3 {
        @apply text-2xl md:text-3xl text-center;
    }
}